<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.2
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
--><!-- Breadcrumb-->
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="css/examples.css" rel="stylesheet">
    <style>
      .spaced{
        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <img class="catlogo" src="/images/logo.png">
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item"><a class="nav-link" href="/">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cat"></use>
            </svg> About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/locations">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-location-pin"></use>
            </svg> Locations</a></li>
            
        
        
        <li class="nav-divider"></li>
        <li class="nav-group">
            
            <li class="nav-item"><a class="nav-link" href="/login" target="_top">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                </svg> Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register" target="_top">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                </svg> Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" target="_top">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                </svg> Logout</a></li>
        </li>

        <li class="nav-title">Admin</li>
        <li class="nav-item"><a class="nav-link" href="/dashboard">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-clipboard"></use>
            </svg> Dashboard</a></li>
            
        
      </ul>
    </div>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          
          
          <ul class="header-nav ms-auto">
            
          </ul>
                {{#if userData}}
                  <div class="spaced"><strong>{{userData.username}} - {{userData.usertype}}</strong></div>
                  <div class="text-medium-emphasis"><a href="#" style="text-decoration: none; color: inherit">Change Password</a></div>
                {{/if}}
              </div>
        
        
      </header>
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <h1>{{data.location}} - Add a Post</h1>
          <div class="card mb-4">
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group mb-4">
                      {{#if errors.titleError}}
                        <div class="container" style="margin-bottom: 20px; color: red;">{{errors.titleError}}</div>
                      {{/if}}
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group mb-4">
                      {{#if errors.contentError}}
                        <div class="container" style="margin-bottom: 20px; color: red;">{{errors.contentError}}</div>
                      {{/if}}
                      <label for="content">Content</label>
                      <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-4">
                      <label for="food-added">Food Added (kg)</label>
                      <input type="number" class="form-control" id="food-added" name="food_added" value="0" step="0.1">
                    </div>
                    <div class="form-group mb-4">
                      <label for="water-added">Water Added (Liters)</label>
                      <input type="number" class="form-control" id="water-added" name="water_added" value="0" step="0.1">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-4">
                      <label for="current-food-level">Current Food Level</label>
                      <select id="current-food-level" name="current_food_level">
                        <option value="" disabled selected>Select</option>
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                      </select>
                    </div>
                    <div class="form-group mb-4">
                      <label for="cat-count">Cat Count</label>
                      <input type="number" class="form-control" id="cat-count" name="cat_count">
                    </div>
                    <div class="form-group mb-4">
                      <label for="health-issue">Health Issue</label>
                      <input type="text" class="form-control" id="health-issue" name="health_issue">
                    </div>
                    <div class="form-group mb-4">
              
                      {{#if errors.extError}}
                        <div class="container" style="margin-bottom: 20px; color: red;">{{errors.extError}}</div>
                      {{/if}}
                      <label for="image-upload">Upload an Image</label>
                      <input type="file" class="form-control-file" id="image-upload" name="image">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input name="csrfToken" type="hidden" value="{{csrfToken}}">
              </form>

          </div>
        </div>
      </div>
      <footer class="footer">
        <div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io">Bootstrap Admin Template</a> © 2023 creativeLabs.</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>
      </footer>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="js/colors.js"></script>
    <script>
    </script>

  </body>
</html>